<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unipd.dei.esp1415.thetrumannshow.FallDetector" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fall_detector_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".Services.RunningSessionService" />

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FallDetailsActivity"
            android:label="@string/title_activity_fall_details" >
        </activity>
        <activity
            android:name=".Activities.SessionDetailsActivity"
            android:label="@string/title_activity_session_details"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.RunningSessionActivity"
            android:label="@string/title_activity_running_session"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".Activities.MainActivity" />
        </activity>

        <receiver android:name=".Receivers.BootBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
